<a class="navbar-brand name" href="/">Bijal Patel</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="links collapse navbar-collapse flex-grow-0 ml-auto mr-1">
    <ul class="navbar-nav text-right">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/">Interests</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.instagram.com/cookingwithbijal" style="font-size:14px" target="_blank">cooking</a>
              <a class="dropdown-item" href="/photography" style="font-size:14px">photography</a>
              <a class="dropdown-item" href="/teaching" style="font-size:14px">teaching</a>
              <a class="dropdown-item" href="/traveling" style="font-size:14px">traveling</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
        </li>
    </ul>
</div>
